*{	
    border:0;
    padding:0;
    margin:0;
}

div{
	position:fixed;
	width:100%;
}

h1{
	color:blue;
    font-family:verdana;
    font-size:300%;		
}

canvas{
	
	position: absolute;	
    top: 100px;
    left:300px;
    border: 10px solid black;
	display:block;
	background-color:black;
}


#btnMve
{
    position:absolute;
    top: 150px;
    left: 195px;
	height:100px;
	width:100px;
	
}	


a.tooltipMove span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:250px; margin-left:250px;
    width:200px; line-height:16px;
}
a.tooltipMove:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:250px;border:0;left:270px;}
    