*{	
    border:0;
    padding:0;
    margin:0;
}

div{
	position:fixed;
	width:100%;
}

h1{
	color:blue;
    font-family:verdana;
    font-size:300%;		
}

canvas{
	
	position: absolute;	
    top: 100px;
    left:300px;
    border: 10px solid black;
	display:block;
	background-color:black;
}
